#test {
    font-style: italic;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.red{
    height: 600px;
    background-color: orange;
}

.para1{
    font-family: 'Open Sans', sans-serif;
}
.text-center{
    text-align: center;
}

/*td{
    outline: 1px solid green;
}*/



main{
    margin-top: 50px;
}

#sidebar{
    /*width: calc(30% - 10px);
    float: left;
    padding-right: 10px;*/
    flex: 0 1 200px;
}
#sidebar1{
    /*width: 70%;*/
    flex: 1 0 auto;
}

#footer{
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
}

#main{
    display: grid;
    grid-template-columns:  1fr 4fr;
    /*display: flex;*/
    justify-content: center;
    margin-top: 10%;
}

#main:after{
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ""; /* compatibilité*/
}

@media only screen and (max-width: 1024px){
    #main{
        grid-template-columns: 1fr;
    }
}

#premier{
    background-color: #5668EC;
}

#deuxieme{
    background-color: #5668EC;
}

#troisieme{
    background-color: #A9B9F6;
}

#quatrieme{
    background-color: #FFBE00;
}

#dixhuit{
    background-color: #FF6060;
}

#dixneuf{
    background-color: #D31A2C;

}

#vingt{
    background-color: #D31A2C;

}


.img{
    width: 50%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center1{
    text-align: center;
    margin: 5%;
}

.police { color: #133337 ; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }

.bodyColor{
    background: url("../images/orange.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

textarea {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.table {
    margin: auto;
    width: 75%;
}