<!doctype html>
<html lang="fr">
<%- include("header"); -%>

<body>
<header>
<%- include("barre"); -%>
</header>

<main>
    <h2>Bonjour et bienvenue sur Allez Montpellier, site d'actualités du Montpellier Hérault Sport Club</h2>
</main>


</body>
<%- include("footer");-%>
</html>