<!doctype html>
<html lang="fr">
<%- include("header"); -%>

<body class="bodyColor">

<header>
    <%- include("barre"); -%>

</header>

<main>
    <div class="police"><h1 class="center1"> Bienvenue sur Allez Montpellier</h1></div>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row police text-center">
                    <article class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <a href="/actualites"> <img src="/images/Image3.svg" class="img center" alt="Responsive image"> </a>
                        <p> Les dernières actualités autour du MHSC !</p>
                        <p > Ici vous retrouvez toutes les news autour du Montpellier Herault Sport Club : resumé de match, compositions, rumeurs mercato et bien plus encore !  </p>
                    </article>
                    <article class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <a href="/classement"><img src="/images/Image1.svg" class="img center" alt="Responsive image"></a>
                        <p> Accedez à toutes sortes de données concernant le MHSC ! </p>
                        <p> Allez Montpellier propose un accès au classement mis à jour en temps réel de la Ligue 1 Conforama ainsi qu'à une multitude de statistiques concernant les joueurs (section Data).</p>
                    </article>
                    <article class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <a href="/login"><img src="/images/Image2.svg" class="img center" alt="Responsive image"></a>
                        <p>Rejoignez une communauté grandissante !</p>
                        <p> Echangez autour de l'actualité du club avec d'autres passionnés !</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>


</body>
<%- include("footer");-%>
</html>