<!doctype html>
<html lang="fr">
<%- include("header"); -%>
<body>
<%- include("barre"); -%>

<main>
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <article class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <p>Bienvenue sur votre espace personnel <%= pseudo %> !</p>
                    </article>
                </div>
                <div class="row btn-group">
                        <a class="btn btn-outline-info btn-block" href="/profil/modif" role="button">Modifier mes infos</a>
                        <a role="button" class="btn btn-outline-danger btn-block " href="#" >Supprimer mon compte</a>
                        <% if(co.rank > 0){%>
                            <a role="button" class="btn btn-outline-success btn-block " href="/profil/adminActu" >Gerer les actualités</a>
                        <%}%>
                        <% if(co.rank === 2){%>
                            <a role="button" class="btn btn-outline-warning btn-block " href="#" >Gerer les utilisateurs</a>
                        <%}%>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
<%- include("footer");-%>
</html>